<ion-view view-title="Settings">
  <ion-content class="padding">
	<div class="list">
	  <div class="item item-input-inset">
	    <label class="item-input-wrapper">
	      <input type="text" placeholder="Activity name" ng-model="new_activity">
	    </label>
	    <button class="button button-small" ng-click="addActivity(new_activity);new_activity='';">
	      Add
	    </button>
	  </div>
	<ul>
		<li ng-repeat="activity in activities">{{activity}}</li>
	</ul>
	  <div class="item item-input-inset">
	    <label class="item-input-wrapper">
	      <input type="text" placeholder="API URL" ng-model="api_url">
	    </label>
	    <button class="button button-small" ng-click="setAPIURL(api_url)">
	      Save
	    </button>
	  </div>
	</div>
	<div class="item item-input-inset">
	    <label class="item-input-wrapper">
	      <input type="text" placeholder="Sample rate (ms)" ng-model="frequency">
	    </label>
	    <button class="button button-small" ng-click="setFrequency(frequency)">
	      Save
	    </button>
	  </div>
	</div>

	
  </ion-content>
</ion-view>
