<!DOCTYPE html>
<html>
    <head>
        <title>YAAM</title>
	    <style>
	   	.line {
		  fill: none;
		  stroke: #000;
		  stroke-width: 2px;
		}
		.x-line{
		  fill: none;
		  stroke: green;
		}
		.y-line{
		  fill: none;
		  stroke: blue;
		}
		.z-line{
		  fill: none;
		  stroke: red;
		}
	    </style>
	<script src="js/angular.min.js"></script>
    </head>
    <body>
	<div ng-controller="YAAMController as yaam">
		<svg width="350" height="400"></svg>
		<button ng-click='yaam.watch()' class="btn btn-primary" ng-if="!yaam.gWatchID">Watch</button>
		<button ng-click='yaam.clearWatch()' class="btn btn-primary" ng-if="yaam.gWatchID">Clear Watch</button>

		<button onclick='navigator.app.exitApp()' class="btn btn-primary">Exit</button>

		<div>Avg Mag: {{yaam.accelAvgMag}}</div>
		<div>Accel: {{yamm.acceleration}}</div>{{yaam.foo}}
	</div>
        <script type="text/javascript" src="cordova.js"></script>
    	<script src="js/d3.v4.min.js"></script>
	<script src="js/viz.js"></script>
	<script type="text/javascript">
	       angular.module('YAAM', [])
		  .controller('YAAMController', function($scope) {
		    var yaam = this;
		    yaam.gWatchID = null;
		    var gOptions = { frequency: 50 }; 
			yaam.foo='bar';		    
		    function accelUpdate(acceleration) {
			acceleration.magnitude = Math.sqrt(acceleration.x*acceleration.x+acceleration.y*acceleration.y+acceleration.z*acceleration.z)        
			data.push(acceleration);
			yaam.acceleration = acceleration;
			yaam.accelAvgMag = d3.mean(data,function(d){return d.magnitude});
			draw();
		    }
		    yaam.watch = function onDeviceReady() {
			console.log('watch');
			navigator.accelerometer.getCurrentAcceleration(accelUpdate, function() {alert("Couldn't get acceleration");});
			yaam.gWatchID = navigator.accelerometer.watchAcceleration(accelUpdate,
				function() {
				    alert("Couldn't watch acceleration");
				},
				gOptions);
		    };
		    yaam.clearWatch = function() {
			navigator.accelerometer.clearWatch(yaam.gWatchID);
			yaam.gWatchID = null;
		    };
		  });
		 deviceReady = function() {
		    console.log('bootstrap');
		    angular.bootstrap(document, ['YAAM']);
		 };
		 window.addEventListener('load', deviceReady, false);
	</script>
    </body>
</html>
